/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext'); */

*{
    margin: 0;
    padding: 0;

}

.main-container{
    width: 100%;
    /* background-color: pink; */
    height: 100vh;
}

.field-set{
    width: 100%;
    height: 100vh;
    /* background-color: deepskyblue; */
    display: flex;
    justify-content: center;
    
}
fieldset{
    display: flex;
    width: 70%;
    height: 90%;
    align-items: center;
    justify-content: center;
}
input{
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
    width: 100%;
    font-size: 30px;
}


.input-field{
  padding: 10px;
}

input:focus{
    outline: 0;
    transition: 0.4s ease-out;
    width: 100%;
}


p{
    color: grey;
}

.button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
a{

    /* width: 30%; */
    /* height: 10vh;  */
    border-radius: 6px;
    color: white;
    border: none;
    font-size: 15px;
    
    background-color: #24a0ed; 
    border-radius: 4px;
    background-color: #24a0ed;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    /* position: absolute; */
    opacity: 0;
    /* top: 0; */
    /* right: -20px; */
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  
}

input:required:focus{
    border: 1px solid red;
  outline: none;
}





@media(max-width: 464px){
  .button{
    width: 67%;
    height: 50%;
    padding-left: 15%;

  }

  .input-1{
    width: 300px;
  }
}


